extends layout

block content
    div.container.top-margin
        div.row
            div.col-md-4
                div.panel.panel-info
                    div.panel-heading
                        h3.panel-title Параметры
                    div.panel-body
                        div.input-group
                            span.input-group-addon Количество
                            input(type="number").form-control#xdr-count
                    ul.list-group
                        li.list-group-item.fix-width
                            div.input-group.input-append.date
                                span.input-group-addon Время начала:
                                input(type="text", readonly="", data-format="dd.MM.yyyy hh:mm:ss").form-control#btime
                        li.list-group-item.fix-width
                            div.input-group.input-append.date
                                span.input-group-addon Время конца:&nbsp;&nbsp;
                                input(type="text", readonly="", data-format="dd.MM.yyyy hh:mm:ss").form-control#etime
                        li.list-group-item.fix-width
                            div.input-group
                                span.input-group-addon CDPN
                                input(type="text", value="")#cdpn.form-control
                        li.list-group-item
                            button(type="button", data-loading-text="Генерация...").btn.btn-success.btn-block#build-btn Получить xDR's
                            button(type="button", data-loading-text="Очистка...").btn.btn-danger.btn-block#clear-bd Очистить базу
            div.col-md-8#xdrs-list
                include xdr_list
                br