extends layout

block content
    div.panel.panel-info.top-margin
        div.panel-heading
            h3.panel-title Параметры сбора статистики
        div.panel-body
            div.container-fluid
                div.row-fluid
                    div.col-md-3
                        div.input-group.input-append
                            span.input-group-addon Время начала:
                            input(type="text", readonly="", data-format="dd.MM.yyyy hh:mm:ss").form-control#btime
                    div.col-md-3
                        div.input-group.input-append
                            span.input-group-addon Время конца:
                            input(type="text", readonly="", data-format="dd.MM.yyyy hh:mm:ss").form-control#etime
                    div.col-md-3
                        div.input-group.input-append
                            span.input-group-addon Группа (cdpn):
                            select.form-control#cdpns
                                option Loading...
                    div.col-md-3
                        button(type="button", data-loading-text="Сбор статистики...").btn.btn-success.pull-right#rock-btn Let's rock!

    div.main-stat
        h4 Статистика еще не собрана