doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')

        script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
        script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
        script(type="text/javascript", src="/vendor/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")

        script(type="text/javascript", src="/js/common.js")
        script(type="text/javascript", src="/js/charts.js")

        script(type="text/javascript", src="/vendor/highcharts/js/highcharts.js")
    body
    nav(role="navigation").navbar.navbar-default.navbar-fixed-top
        div.container-fluid
            div.navbar-header
                a(href="/").navbar-brand ПРОТЕЙ | xDR

            div.collapse.navbar-collapse#bs-example-navbar-collapse-6
                ul.nav.navbar-nav
                    li: a(href="/") Статистика
                    li: a(href="/builder") xDR генератор

    block content