div.panel.panel-default
    div.panel-heading Статистика очереди
    div.panel-body
        div.container-fluid
            div.row-fluid
                div.charts-area#pool-dyn
            div.row-fluid
                div.col-md-3
                    div.input-group.input-append
                        span.input-group-addon MAX:
                        input(type="text", readonly="", value="#{stats.max_size.value}").form-control
                div.col-md-3
                    div.input-group.input-append
                        span.input-group-addon AVG:
                        input(type="text", readonly="", value="#{stats.avg_size}").form-control

div.panel.panel-default
    div.panel-heading Статистика по операторам
    div.panel-body
        div.container-fluid
            div.row-fluid
                div.charts-area#oper-dyn
            div.row-fluid
                div.col-md-3
                    div.input-group.input-append
                        span.input-group-addon MAX:
                        input(type="text", readonly="", value="#{stats.op_b_max.value}").form-control
                div.col-md-3
                    div.input-group.input-append
                        span.input-group-addon Erlangs:
                        input(type="text", readonly="", value="#{stats.erlangs}").form-control

div.panel.panel-default
    div.panel-heading Список анализируемых xDR
    div.panel-body
        div.container-fluid
            div.row-fluid
                include xdr_list_stat
