table.table.table-striped.table-condensed
    colgroup
        col(width="10%")
        col(width="15%")
        col(width="15%")
        col(width="15%")
        col(width="15%")
        col(width="15%")
    thead
        tr
            th #
            th Время начала
            th Время ответа
            th Продолжительность, с
            th CGPN
            th CDPN
    tbody
        if (xdrs)
            -for (var i = 0; i < xdrs.length; i++)
                tr
                    td= i + 1
                    td= xdrs[i].s_time_de
                    td= xdrs[i].a_time_de
                    td= xdrs[i].conv
                    td= xdrs[i].cgpn
                    td= xdrs[i].cdpn
        else
                tr
                    td(colspan="6") Данных нет