table.table.table-striped.table-condensed
    colgroup
        col(width="4%")

        col(width="16%")
        col(width="16%")
        col(width="16%")
        col(width="16%")
        col(width="16%")
        col(width="16%")
    thead
        tr
            th id
            th Время начала
            th Время ответа
            th Продолжительность, с
            th CGPN
            th CDPN
            th Время в очереди, с
    tbody
        if (stats.xdrs_lst)
            -for (var i = 0; i < stats.xdrs_lst.length; i++)
                if (stats.xdrs_lst[i].is_max)
                    tr.danger
                        td= stats.xdrs_lst[i].id
                        td= stats.xdrs_lst[i].start_time
                        td= stats.xdrs_lst[i].answer_time
                        td= stats.xdrs_lst[i].conversation
                        td= stats.xdrs_lst[i].cgpn
                        td= stats.xdrs_lst[i].cdpn
                        td= stats.xdrs_lst[i].queue_duration
                else
                    tr
                        td= stats.xdrs_lst[i].id
                        td= stats.xdrs_lst[i].start_time
                        td= stats.xdrs_lst[i].answer_time
                        td= stats.xdrs_lst[i].conversation
                        td= stats.xdrs_lst[i].cgpn
                        td= stats.xdrs_lst[i].cdpn
                        td= stats.xdrs_lst[i].queue_duration
        else
                tr
                    td(colspan="6") Данных нет