body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top-margin {
  margin-top: 20px;
}

.charts-area {
  min-width: 310px;
  height: 400px;
  margin: 0 auto
}